body {
    background-color: black;
}
p, h1, h2, h3, li, caption {
    color: beige;
}
a:link {
    text-decoration: none ;
}
a,h4 {
    color: cornflowerblue;
}
#mafia {
    background-image: url(chinatown.jpg) ;
}
th {
    color: bisque;
    border: 1px solid peru;
    width: 150px;
}
#t1 {
    border: 2px solid peru;
}
#img1{
    width: 640px;
    height: 480px;
}
#img3{
    width: 640px;
    height: 480px;
}
#img2{
    width: 1280px;
    height: 1024px;
}
#hr{
    color: black;
}